.field {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.tableHeader {
    width: 200px;
    text-align: start;
    background-color: brown;
    color: white;
}

.requestTable {
    border: 1px solid gray;
    border-collapse: collapse;
    padding: 10px;
    margin-left: 20px;
}
#tableHead {
    margin-bottom: 10px;
}

th, td {
    padding: 10px;
    border: 1px solid gray;
}

#submitRequest {
    margin-left: 20px;
}